.homgart-about {
    box-sizing: border-box;
    padding: 90px 30px 0;
}

.homgart-about * {
    box-sizing: border-box;
}

.homgart__title {
    text-align: center;
    font-size: 42px;
    line-height: 1.23;
    color: #000000;
    padding-bottom: 20px;
    font-weight: 300;
    font-family: 'Roboto';
}

.homgart-about__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    max-width: 1200px;
    margin: 0 auto;
}

.homgart-about__col {
    width: 50%;
    padding: 20px 20px 0;
}

.homgart-about__img {
    /*padding-right: 18%;*/

}
.homgart-about__img-card {
    padding-top: 40%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.homgart-about__text {
    color: #000;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    font-family: 'Roboto';
    /*padding-left: 18%;*/

}


.homgart-alcove {

}

.homgart-alcove__list {
    list-style: none;
    padding-right: 80px;
}

.homgart-alcove__item {
    list-style: none;
    margin-bottom: 10px;
}

.homgart-alcove-card {
    display: table;
}

.homgart-alcove-card::after {
    content: '';
    clear: both;
    display: table;

}

.homgart-alcove-card__img {
    /*float: left;*/
    width: 100px;
    height: 70px;
    background-color: #eee;
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.homgart-alcove-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.homgart-alcove-card__body {
    margin-left:110px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.homgart-alcove-card__title {
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}


.t-slds__description {
    position: absolute;
    z-index: 30;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    color: #000000;
}

.t604__imgwrapper .t-slds__bgimg {
    bottom: 30px;
}

.t030__title {
    padding-bottom: 0 !important;
    /*margin-bottom: 0 !important;*/
}

.t030__descr {
    margin-bottom: 20px;
}

.alcove-constructor {
    max-width: 902px;
    margin: 0 auto;
}

.homgart-filter {
    text-align: center;
    /*margin-bottom: 20px;*/
    background-color: #efefef;
    max-width: 937px;
    padding: 10px;
    margin: 0 auto 20px;
    border-radius: 5px;
}

.homgart-filter__item {
    display: inline-block;
    margin: 0 30px;
}

.homgart-filter__name {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

/*homgart-select-------------*/
.homgart-select {
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    width: 100px;
    height: 43px;
    /*width: 16px;*/
    /*line-height: 43px;*/
    padding-left: 20px;
}

.alcove-constructor .SumoSelect {
    vertical-align: middle;
    width: 120px;
    font-family: 'Roboto', sans-serif;
}

.alcove-constructor .SelectBox {
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif;
    border:2px solid #1d5eb6;
    border-radius: 5px;
}

.SumoSelect > .optWrapper > .options {
    padding-left: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.SumoSelect > .optWrapper > .options  li.opt {
    padding: 4px 6px;
    text-align: left;
    padding-left: 20px;
}

.alcove-constructor-fake {
    width: 100%;
    text-align: center;
}

.alcove-constructor-fake img {
    width: auto;
    height: auto;
}


@media screen and (max-width: 1600px) {
    .homgart-alcove__list {
        padding-right: 30px;
    }
}


/*--------------------------------------------------*/
/*------------блок сос списком беседок--------------*/
/*--------------------------------------------------*/
.homgart__title {
    text-transform: uppercase;
}


.homgart-layout {
    max-width: 1200px;
    margin: 0 auto;
}

.homgart-layout::after {
    content:'';
    clear:both;
    display: table;
}

.homgart-arbor {
    font-family: Roboto, sans-serif;
}

/*стили с homgart.com*/

.homgart-arbor .list{
    /*border-top:2px solid #99bf4c;*/
    padding:5px 0;
}
.homgart-arbor .list::after {
    content:'';
    clear:both;
    display: table;
}
.homgart-arbor .list.top_list{
    padding-top:20px;

}
.homgart-arbor .list_item_size{
    clear:both;
    position: relative;
}
.homgart-arbor .list_pic{
    height:20px;
    float:left;
    width:65px;
    margin:5px 0 3px;
    margin-right:20px;
    background:url(../img/arbor/list_pic.png) 0 0 no-repeat;
    padding-top:61px;
    text-align:center;
    font-size:14px;
    color:#385a96;
    font-weight:bold;
    text-decoration:none;
}
.homgart-arbor .list_item_size_comment{
    padding-top:30px;
    display: inline-block;
    font-size:22px;
    color: #385a96;
}

.homgart-arbor .list_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.homgart-arbor .list_item{
    display:block;
    /*float:left;*/
    border:1px solid #e5e5e5;
    width:16%;
    background:#fff;
    padding:10px;
    margin: 1%;
    color:#404040;
    position:relative;
    /*min-height: 223px;*/
}
.homgart-arbor .list_item:hover{
    border:1px solid #385a96;
    text-decoration:none;
}
.homgart-arbor .list_item img{
    width:180px;
    margin:15px 0 35px;
}

.homgart-arbor .list_item span.list_price{
    font-family: Roboto, sans-serif;
    color:#385a96;
    font-size:16px;
    position:absolute;
    bottom:30px;
    right:10px;
}
.homgart-arbor .list_item_img_wrap{
    width:180px;
    display:table-cell;
    vertical-align: middle;
}
.homgart-arbor .list_item_tit{
    display: inline-block;
    width:180px;
    text-decoration: none;
}

.homgart-arbor .l_name {
    color: #1d5eb6;
}

.homgart-arbor .list_link{
    position:absolute;
    bottom:8px;
    right:10px;
    text-decoration: underline;
    display: inline-block;
    height:16px;
    padding:3px 8px;
    text-align:center;
    color: #1d5eb6;
}

.homgart-arbor .list_link:hover{
    text-decoration: none;
    background:#1d5eb6;
    border-radius: 4px;
    color:#fff;
}


@media (max-width:1160px){
    .homgart-arbor .list_item {
        width: 20%;
    }

    .homgart-arbor .list_item img {
        width: 100%;
    }

    .alcove-constructor-fake img {
        width: 90%;
    }
}



@media (max-width:890px){
    .homgart-arbor .list_item {
        width: 20%;
    }

}

@media (max-width:750px){
    .homgart-arbor .list_item {
        width: 26%;
    }
}

@media (max-width:550px){
    .homgart-arbor .list_item {
        width: 40%;
    }
}


/*СТИЛИ 10.12.2018---------------*/

.model-base__grass {
    position: absolute;
    bottom: 28px;
    z-index: 999;
}

.model-instruction-btn {
    background-color: #dd2749;
    padding: 13px 27px;
    border-radius: 8px;
    color: #ffffff !important;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}



/*стили длля модальдного окна---------------*/

.popup-instruction .popup {
    max-width: 520px;
}

.popup {
    /* max-width: 500px;
    width: 500px; */
    background-color: #FFF;
    overflow: hidden;
    font-family: "PT Serif Caption";
    border-radius: 10px;
    -webkit-box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
            box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin: 0 auto;
    position: relative;
    z-index: 10; }

    .popup-body {
        padding: 30px 30px 27px;
        position: relative;
        background: url(../img/kid_bg.png) 0 0 repeat;
        z-index: 10;
        overflow: hidden; 
    }
    
@-webkit-keyframes scaleUp {
    0% {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  
  @keyframes scaleUp {
    0% {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }

.lock-html {
    overflow: hidden; }
  
  .mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=80);
    /*display: none;*/
    opacity: 0;
    visibility: hidden; }
  
  .mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: 0 !important;
    -webkit-backface-visibility: hidden;
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  
  .mfp-wrap.is-visible {
    padding-right: 17px; }
  
  .popup {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
  
  .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  
  .mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    cursor: auto; }
  
  .mfp-content {
    position: relative;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    width: 98%; }
  
  .mfp-content-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }
  
  .white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative; }
  
  /*popup show*/
  .popup-show {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-animation: scaleUp 0.2s;
    animation: scaleUp 0.2s; }
  
  .popup-slide__show {
    opacity: 1 !important;
    visibility: visible !important; }
  
  .dropdown-show .icon-dropdown {
    -webkit-transform: rotate(180deg) translateY(50%) !important;
        -ms-transform: rotate(180deg) translateY(50%) !important;
            transform: rotate(180deg) translateY(50%) !important; }
  
  .is-visible {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
  
  .is-visible .popup {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  
  .is-show__smoothly {
    opacity: 1 !important;
    visibility: visible; }
  
  .is-hide {
    display: none !important; }
  
  .body-popup {
    overflow: hidden !important;
    padding-right: 16px; }
  
  .overflow {
    overflow: hidden !important; }

    .popup-close {
        right: 10px;
        top: 10px;
        width: 30px;
        height: 31px;
        border-radius: 5rem;
        border: 2px solid #1d5eb6;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
        background-color: #fff;
    }

    .popup-close::before {
        content: '';
        border: none;
        position: absolute;
        top: 6px;
        left: 14px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 19px;
        width: 2px;
        border-radius: 20px;
        background-color: #1d5eb6;
    }

    .popup-close::after {
        content: '';
        border: none;
        position: absolute;
        top: 15px;
        left: 6px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 19px;
        height: 2px;
        border-radius: 20px;
        background-color: #1d5eb6;
    }

.homgart-banner {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

#contentVideo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding: 15px;
    line-height: 1.5em;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #111;
    width: 390px;
}

#contentVideo h1 {
    line-height: 1.3em;
}

#contentVideo a {
    color: red;
}

#contentVideo a:hover {
    color: pink;
}




.sale {
    position: relative;
    background: #fff url(../img/sale/sale-banner.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*min-height: 970px;*/
    height: 53vw;
    margin-bottom: 30px;
    font-family: 'Roboto',sans-serif;
}

.sale-layout {
    max-width: 1167px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.sale-header {
    padding-top: 120px;
    text-align: center;
}

.sale-title {
    font-size: 59px;
    color: #f92e5e;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
    line-height: 1;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 14px;
}


.sale-title span {
    color: #fff;
}

.sale-subtitle {
    line-height: 1.2;
    font-size: 33px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.sale-text {
    line-height: 1;
    color: #ffffff;
    font-size: 26px;
}

.sale-specifications {
    position: absolute;
    top: 47%;
    right: 0;
    width: 230px;
    font-family: 'Roboto',sans-serif;

}
.sale-specifications__title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.1;
    color: #ffffff;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
    margin-bottom: 13px;
}

.sale-specifications__list {
    list-style: none;
    padding: 0 !important;
    margin: 0;
}

.sale-specifications__item {
    font-size: 19px;
    color: #ffffff;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
    line-height: 1;
    margin-bottom: 14px;
    padding: 0;
}

.sale-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    border-bottom: 1px dashed #fff;
    border-top: 1px dashed #fff;
}

.sale-footer::after {
    content: '';
    clear: both;
    display: table;
}

.sale-footer__title {
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    max-width: 450px;
    line-height: 1.1;
    padding: 22px 0;
    float: left;
    margin-right: 30px;
}
.sale-footer__title span {
    font-size: 33px;
}
.sale-footer__order {
    padding: 25px 0;
    float: right;
}
.sale-btn {
    display: inline-block;
    background-color: #e82558;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff !important;
    padding: 14px 36px;
    border-radius: 6px;
    transition: all .2s ease;
}
.sale-btn:hover {
    display: inline-block;
    background-color: #c6254f;
    transition: all .2s ease;
}

.sale-footer__timer {
    float: left;
    padding: 10px 0;
}

@media (max-width:1680px) {
    .sale-header {
        padding-top: 85px;
    }

    .sale-title {
        font-size: 45px;
        margin-bottom: 8px;
    }
    .sale-subtitle {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .sale-text {
        font-size: 19px;
    }

    .sale-specifications {
        top: 41%;
        right: 4%;
    }
}

@media (max-width:1340px) {
    .sale-specifications {
        display: none;
    }

    .sale {
        height: 710px;
    }

    .sale-layout {
        padding: 0 20px;
    }
}

@media (max-width:1120px) {
    .sale-btn {
        padding: 14px 16px;
    }

    #CDT .caption {
        display: none;
    }

    .sale-footer__order {
        padding: 22px 0;
    }

    .sale-footer__title {
        color: #ffffff;
        font-size: 24px;
        max-width: 400px;
        margin-right: 10px;
    }
    .sale-footer__title span {
        font-size: 26px;
    }
}
@media (max-width:1000px) {
    .sale-footer__timer {
        display: none;
    }

    .sale-header {
        padding-top: 60px;
    }

    .sale-title {
        font-size: 38px;
        margin-bottom: 8px;
    }
    .sale-subtitle {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .sale-text {
        font-size: 16px;
    }
}

@media (max-width:780px) {
    .sale {
        background: url(../img/sale/sale-banner-mobile.jpg) 50% 50% no-repeat;
        height: auto;
        padding-bottom: 20px;
    }

    .sale-footer {
        position: static;
        padding: 14px 0;
        text-align: center;
    }

    .sale-header {
        max-width: 500px;
        margin: 0 auto 24px;
    }

    .sale-footer__order,
    .sale-footer__title {
        float: none;
        padding: 0;
    }

    .sale-footer__title {
        max-width: 400px;
        text-align: center;
        margin: 0 auto 14px;
    }

    .sale-footer__title,
    .sale-footer__title span {
        font-size: 20px;
    }

    .sale-title {
        font-size: 32px;
    }
    .sale-subtitle {
        font-size: 20px;
    }
}