.homgart-about {
    box-sizing: border-box;
    padding: 90px 30px 0;
}

.homgart-about * {
    box-sizing: border-box;
}

.homgart__title {
    text-align: center;
    font-size: 42px;
    line-height: 1.23;
    color: #000000;
    padding-bottom: 20px;
    font-weight: 300;
    font-family: 'Roboto';
}

.homgart-about__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    max-width: 1200px;
    margin: 0 auto;
}

.homgart-about__col {
    width: 50%;
    padding: 20px 20px 0;
}

.homgart-about__img {
    /*padding-right: 18%;*/

}
.homgart-about__img-card {
    padding-top: 40%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.homgart-about__text {
    color: #000;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    font-family: 'Roboto';
    /*padding-left: 18%;*/

}


.homgart-alcove {

}

.homgart-alcove__list {
    list-style: none;
    padding-right: 80px;
}

.homgart-alcove__item {
    list-style: none;
    margin-bottom: 10px;
}

.homgart-alcove-card {
    display: table;
}

.homgart-alcove-card::after {
    content: '';
    clear: both;
    display: table;

}

.homgart-alcove-card__img {
    /*float: left;*/
    width: 100px;
    height: 70px;
    background-color: #eee;
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.homgart-alcove-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.homgart-alcove-card__body {
    margin-left:110px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.homgart-alcove-card__title {
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}


.t-slds__description {
    position: absolute;
    z-index: 30;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    color: #000000;
}

.t604__imgwrapper .t-slds__bgimg {
    bottom: 30px;
}

.t030__title {
    padding-bottom: 0 !important;
    /*margin-bottom: 0 !important;*/
}

.t030__descr {
    margin-bottom: 20px;
}

.alcove-constructor {
    max-width: 902px;
    margin: 0 auto;
}

.homgart-filter {
    text-align: center;
    /*margin-bottom: 20px;*/
    background-color: #efefef;
    max-width: 937px;
    padding: 10px;
    margin: 0 auto 20px;
    border-radius: 5px;
}

.homgart-filter__item {
    display: inline-block;
    margin: 0 30px;
}

.homgart-filter__name {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

/*homgart-select-------------*/
.homgart-select {
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    width: 100px;
    height: 43px;
    /*width: 16px;*/
    /*line-height: 43px;*/
    padding-left: 20px;
}

.alcove-constructor .SumoSelect {
    vertical-align: middle;
    width: 120px;
    font-family: 'Roboto', sans-serif;
}

.alcove-constructor .SelectBox {
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif;
    border:2px solid #1d5eb6;
    border-radius: 5px;
}

.SumoSelect > .optWrapper > .options {
    padding-left: 0 !important;
    font-family: 'Roboto', sans-serif;
}

.SumoSelect > .optWrapper > .options  li.opt {
    padding: 4px 6px;
    text-align: left;
    padding-left: 20px;
}

.alcove-constructor-fake {
    width: 100%;
    text-align: center;
}

.alcove-constructor-fake img {
    width: auto;
    height: auto;
}


@media screen and (max-width: 1600px) {
    .homgart-alcove__list {
        padding-right: 30px;
    }
}


/*СТИЛИ 10.12.2018---------------*/

.model-base__grass {
    position: absolute;
    bottom: 28px;
    z-index: 999;
}

.model-instruction-btn {
    background-color: #dd2749;
    padding: 13px 27px;
    border-radius: 8px;
    color: #ffffff !important;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}



/*стили длля модальдного окна---------------*/

.popup-instruction .popup {
    max-width: 520px;
}

.popup {
    /* max-width: 500px;
    width: 500px; */
    background-color: #FFF;
    overflow: hidden;
    font-family: "PT Serif Caption";
    border-radius: 10px;
    -webkit-box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
            box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin: 0 auto;
    position: relative;
    z-index: 10; }

    .popup-body {
        padding: 30px 30px 27px;
        position: relative;
        background: url(../img/kid_bg.png) 0 0 repeat;
        z-index: 10;
        overflow: hidden; 
    }
    
@-webkit-keyframes scaleUp {
    0% {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  
  @keyframes scaleUp {
    0% {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); } }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }

.lock-html {
    overflow: hidden; }
  
  .mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=80);
    /*display: none;*/
    opacity: 0;
    visibility: hidden; }
  
  .mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: 0 !important;
    -webkit-backface-visibility: hidden;
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  
  .mfp-wrap.is-visible {
    padding-right: 17px; }
  
  .popup {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }
  
  .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  
  .mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    cursor: auto; }
  
  .mfp-content {
    position: relative;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    width: 98%; }
  
  .mfp-content-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }
  
  .white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative; }
  
  /*popup show*/
  .popup-show {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-animation: scaleUp 0.2s;
    animation: scaleUp 0.2s; }
  
  .popup-slide__show {
    opacity: 1 !important;
    visibility: visible !important; }
  
  .dropdown-show .icon-dropdown {
    -webkit-transform: rotate(180deg) translateY(50%) !important;
        -ms-transform: rotate(180deg) translateY(50%) !important;
            transform: rotate(180deg) translateY(50%) !important; }
  
  .is-visible {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
  
  .is-visible .popup {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  
  .is-show__smoothly {
    opacity: 1 !important;
    visibility: visible; }
  
  .is-hide {
    display: none !important; }
  
  .body-popup {
    overflow: hidden !important;
    padding-right: 16px; }
  
  .overflow {
    overflow: hidden !important; }

    .popup-close {
        right: 10px;
        top: 10px;
        width: 30px;
        height: 31px;
        border-radius: 5rem;
        border: 2px solid #1d5eb6;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
        background-color: #fff;
    }

    .popup-close::before {
        content: '';
        border: none;
        position: absolute;
        top: 6px;
        left: 14px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 19px;
        width: 2px;
        border-radius: 20px;
        background-color: #1d5eb6;
    }

    .popup-close::after {
        content: '';
        border: none;
        position: absolute;
        top: 15px;
        left: 6px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 19px;
        height: 2px;
        border-radius: 20px;
        background-color: #1d5eb6;
    }
  